<h2 id="testimonial-heading">CLIENT TESTIMONIALS</h2>
<section id="testimonials">
    <figure>
      <img src="/assets/image-emily.jpg" alt="Picture of Emily R.">
      <figcaption>
        <p>We put our trust in Sunnyside and they delivered, making sure our needs were 
        met and deadlines were always hit.</p>
        <h3>Emily R.</h3>
        <span>Marketing Director</span>
      </figcaption>
    </figure>
    <figure>
      <img src="/assets/image-thomas.jpg" alt="Picture of Thomas S.">
      <figcaption>
        <p>Sunnyside's enthusiasm coupled with their keen interest in our brand's success 
        made it a satisfying and enjoyable experience.</p>
        <h3>Thomas S.</h3>
        <span>Chief Operating Officer</span>
      </figcaption>
    </figure>
    <figure>
      <img src="/assets/image-jennie.jpg" alt="Picture of Jennie F.">
      <figcaption>
        <p>Incredible end result! Our sales increased over 400% when we worked with Sunnyside. 
        Highly recommended!</p>
        <h3>Jennie F.</h3>
        <span>Business Owner</span>
      </figcaption>
    </figure>
</section>